
.section_title, .subheading {
    text-align:center;
}
.tip_number{
    font-weight:bold;
    font-size: 20px;
    margin:auto;
    text-align:center;
    padding-bottom:20px;

 }
.tip_contents {
    border:solid orange ;    
    width: 75%;
    margin:auto;
    padding : 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.body_contents {
    text-align: justify;
    padding-left: 30px;
    padding-right:30px;
    font-family: 'Times New Roman', Times, serif;
}